h1, p {
    margin: 0;
    // color: #d4d4d4;
    // font-family: sans-serif;
    line-height: 1.4;
}

p {
    width: 530px;
    margin: 20px 0;
    color: #dfdfdf;
    transition: all .33s ease-in-out;
    &:hover {
        // animation-name: colorchange;
        // animation-duration: 3s;
        // animation-iteration-count: infinite;
        // animation-timing-function: ease-in-out;
    }
    &:hover {
      // text-shadow: 2px 2px wheat;
    }
    span {
      transition: all .33s ease-out;
      cursor: grab;
      &:hover {
         animation-name: colorchange;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        font-size: 33px;
      }
    }
}

.linebreak {
  height: 10px;
}

.app-front-page__main-container {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes colorchange {
    0%   {color: #dfdfdf;}
    25%  {color: magenta;}
    50%  {color: yellow;}
    75%  {color: lime;}
    100% {color: #dfdfdf;}
}
