h1, p {
    margin: 0;
    line-height: 1.4;
}

.growletter {
  font-size: 33px;
  display: inline-block;
  filter: blur(3px);
      animation-name: colorchange;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
}

p {
    width: 530px;
    height: 300px;
    margin: 20px 0;
    color: #dfdfdf;
    transition: all .33s ease-in-out;
    .individual-letter {
      transition: all .3s ease-in-out;
      cursor: grab;
    }
}

@media only screen and (max-width: 565px) {
  p {
    width: auto;
    padding: 20px;
  }
  .app-front-page__main-container {
    width: 100%;
  }
}

.linebreak {
  height: 10px;
}

.app-front-page__main-container {
    margin: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    p {
      margin: 0;
    }
    // transform: translate(-50%, -50%);
}

.github-link {
  display: inline-block;
  margin-top: 20px;
  transition: all .3s ease-in-out;
  a {
    font-family: 'Roboto-Regular';
    color: #dfdfdf;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline #dfdfdf;
    }
  }
}

.hide-link {
  opacity: 0;
}

.show-link {
  opacity: 1;
}

@keyframes colorchange {
    0%   {color: #dfdfdf;}
    25%  {color: rgb(255, 188, 255);}
    50%  {color: rgb(255, 255, 163);}
    75%  {color: rgb(194, 255, 194);}
    100% {color: #dfdfdf;}
}






// Bokeh effect shamelessly stolen from https://codepen.io/Mamboleoo/pen/BxMQYQ

.background {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  overflow: hidden;
}

$particleSize: 20vmin;
$animationDuration: 400s;
$amount: 20;
.background span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (
    rgb(31, 31, 46),
    rgb(32, 46, 31),
    rgb(46, 31, 31)
  );
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
