<!-- <ul>
    <li><a [routerLink]="'/mapweather'">Maps API</a></li>
    <li><a disabled=true style="color:gray; cursor: pointer;" title="In Progress">Data Binding</a></li>
    <li><a disabled=true style="color:gray; cursor: pointer;" title="In Progress">Process</a></li>
    <li><a disabled=true style="color:gray; cursor: pointer;" title="In Progress">Resources</a></li>
</ul> -->

<ul>
  <li><a [routerLink]="'/home'"><img src="../../../assets/svg/002-travel.svg" alt="Home icon."></a></li>
  <li><a [routerLink]="'/mapweather'"disabled=true style="color:gray; cursor: pointer;" title="In Progress"><img src="../../../assets/svg/002-travel.svg" alt=""></a></li>
  <li><a disabled=true style="color:gray; cursor: pointer;" title="In Progress"><img src="../../../assets/svg/003-process.svg" alt=""></a></li>
  <li><a disabled=true style="color:gray; cursor: pointer;" title="In Progress"><img src="../../../assets/svg/004-study.svg" alt=""></a></li>
</ul>
