// a {
//     color: #d4d4d4;
// }

// ul {
//     // display: inline;
//     margin: 0;
//     padding: 20px 0;
//     position: absolute;
//     top: 0;
//     z-index: 1;
//     // background: none;
//     &:first-child {
//         padding-left: 20px;
//     }
// }

// ul li {
//     display: inline;
//     padding: 10px;
// }

ul {
  // background: transparent;
  position: absolute;
  width: 100px;
  margin: 0;
  top: 20px;
  right: 20px;
  color: #dfdfdf;
}

img {
  height: 100px;
}